*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', 'PT Sans', Calibri, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

/* ---header section--- */

.header-container {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensure the navbar is on top */
}

nav {
  display: flex;
  flex-direction: column;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav-top-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 30%;
}

.nav-top-left span {
  color: #0a5cd3;
  font-size: 2rem;
}

.search-bar {
  border: none;
  position: relative;
}

.search-bar .search-bar-input {
  position: relative;
  background: transparent;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #e5e7e8;
  width: 200px;
}

.search-bar .position {
  position: absolute;
  left: 10rem;
  top: 0.5rem;
  color: #fff;
}

.search-bar-input {
  color: #fff;
  /* max-width: 100%; */
}

.dropdown {
  display: none;
}

.nav-top-right {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 30%;
  margin: 0.8rem;
}

.nav-top-right select {
  border: none;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  color: #fff;
}

.nav-bottom a {
  color: #fff;
}

/* ---main section--- */

.main-section {
  height: auto;
  background-color: #fcfcfc;
}

.main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.main-image {
  position: relative;
  max-width: 100%;
  height: 92vh;
  background-size: contain;
}

.main-section h1 {
  position: absolute;
  top: 60%;
  left: 30%;
  color: rgb(228, 80, 80);
}

.second-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem 1rem;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.content-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simple-steps {
  color: rgb(228, 80, 80);
}

.p-content {
  font-size: 18px;
  color: #333;
  font-weight: 500;
}

.content-container p {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

.third-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 0rem 5rem;
  background-color: #e27f65;
}

.second-main-image {
  max-width: 80%;
  height: 80vh;
  background-size: contain;
  border-radius: 50%;
  margin: 0 -8rem 0 0;
}

.third-main-section p {
  color: #fff;
}

.third-main-section a {
  display: inline-block;
  color: #e27f65;
  background-color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 2px;
}

.find-course-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 13vh;
}

.find-course-content {
  font-size: 12px;
  font-weight: 500;
}

.find-course-container button {
  border: #0a5cd3;
}

.fourth-main-section {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 11rem 1rem 5rem;
}

.fourth-main-section p {
  color: #fff;
}

.fourth-main-section button {
  color: #fff;
  background-color: #0a5cd3;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 2px;
}

.fourth-main-section img {
  border-radius: 50%;
  border: none;
}

.fifth-main-section {
  background-color: #e4eef7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 11rem 1rem 5rem;
}

.fifth-main-section img {
  border-radius: 50%;
  height: 50vh;
}

/** Footer **/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #fff;
}

.footer-icons a {
  color: #333;
}

.footer-icons span {
  display: inline-block;
  padding: 0 1rem;
}

/* Media Queries */

@media screen and (max-width: 925px) {
  /* Adjustments for screens 925 pixels and smaller */

  .search-bar .position {
    left: 10rem;
  }
}

@media screen and (max-width: 768px) {
  /* Adjustments for screens 768 pixels and smaller */

  /*--header section--*/

  .header-container {
    padding: 0 10px;
  }

  .nav-top {
    max-width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-top-left {
    width: auto;
    align-items: flex-end;
  }

  .nav-top-left span {
    font-size: 1.5rem;
  }

  .search-bar {
    display: none;
  }

  .dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    border: 1px solid;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0.5;
  }

  .dropdown-content a {
    color: black;
    font-weight: 700;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #333;
  }

  .nav-top-right {
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
  }

  .nav-top-right select option {
    background-color: transparent;
    opacity: 0.5;
  }

  .nav-bottom {
    display: none;
  }

  /*--main section--*/

  .main-image {
    height: 60vh;
  }

  .main-section h1 {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 1.2rem;
    color: #fff;
  }

  .second-main-section {
    padding: 0.5rem;
  }

  .second-main-section h3 {
    font-size: 0.8rem;
    max-width: 100%;
  }

  .third-main-section {
    padding: 1rem;
  }

  .content-container {
    display: block;
  }

  .p-content {
    font-size: 1rem;
  }

  .content-container p {
    font-size: 0.7rem;
  }

  .find-course-container {
    height: auto;
    font-size: 0.7rem;
  }

  .find-course-content {
    font-size: 0.6rem;
  }

  .second-main-image {
    max-width: 75%;
    height: 50vh;
    margin: 0;
  }

  .fourth-main-section img,
  .fifth-main-section img {
    max-width: 68%;
    height: 45%;
  }

  .fourth-main-section,
  .fifth-main-section {
    padding: 1rem;
  }

  .footer-icons {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 480px) {
  /* Adjustments for screens 480 pixels and smaller */

  .second-main-image {
    max-width: 70%;
    height: 30vh;
    margin: 0;
  }

  footer {
    flex-direction: column;
  }
}
