*,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(228 80 80);
  --secondary-color: #0a5cd3;
  --white-color: #fff;
  --dark-color: #333;
  --d-flex: flex;
  --j-content-center: center;
  --j-content-space-between: space-between;
  --align-items-center: center;
  --align-items-flex-start: flex-start;
  --flex-direction-column: column;
  --position-relative: relative;
  --position-absolute: absolute;
  --d-none: none;
  --d-block: block;
  --outline-focus: focus;
}

html,
body {
  font-family: 'Open Sans', 'PT Sans', Calibri, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

/* ---header section--- */

.header-container {
  display: var(--d-flex);
  flex-direction: var(--flex-direction-column);
  background-color: var(--dark-color);
  color: var(--white-color);
  position: sticky;
  padding: 10px;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-top {
  display: var(--d-flex);
  justify-content: var(--j-content-space-between);
  align-items: var(--align-items-center);
}

.nav-top-left {
  display: var(--d-flex);
  justify-content: var(--j-content-space-between);
  align-items: var(--align-items-flex-start);
  width: 30%;
}

.nav-top-left span {
  color: var(--secondary-color);
  font-size: 2rem;
}

.search-bar {
  border: none;
  position: var(--position-relative);
}

.search-bar-input {
  color: var(--white-color);
}

.search-bar .search-bar-input {
  position: var(--position-relative);
  background: transparent;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #e5e7e8;
  width: 200px;
}

.search-bar .position {
  position: var(--position-absolute);
  left: 10rem;
  top: 0.5rem;
  color: var(--white-color);
}

.dropdown {
  display: var(--d-none);
}

.nav-top-right {
  display: var(--d-flex);
  justify-content: space-around;
  align-items: var(--align-items-flex-start);
  width: 30%;
  margin: 0.8rem;
}

.nav-top-right select {
  border: none;
}

.nav-bottom {
  display: var(--d-flex);
  justify-content: var(--j-content-space-between);
  align-items: var(--align-items-center);
  width: 40%;
  color: var(--white-color);
}

.nav-bottom a {
  color: var(--white-color);
}

/* ---main section--- */

main {
  padding: 1rem;
  display: var(--d-flex);
  flex-direction: var(--flex-direction-column);
  align-items: var(--align-items-center);
}

.main-section-1 h1 {
  color: var(--primary-color);
}

.main-section-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-start;
  align-content: center;
  padding: 1rem 0;
}

.main-section-2 h4 {
  max-width: 100%;
  display: var(--d-flex);
  justify-content: flex-start;
  color: var(--primary-color);
}

.main-section-2 p {
  font-size: 0.9rem;
}

.main-section-3 {
  display: var(--d-flex);
  flex-direction: var(--flex-direction-column);
  justify-content: var(--j-content-center);
  align-items: var(--align-items-center);
  gap: 1rem;
  padding-bottom: 1rem;
}

.main-section-3 h4 {
  color: var(--primary-color);
}

.map-size iframe {
  width: 40vw;
  height: 60vh;
  border: none;
}

.main-section-4 {
  width: 40vw;
  height: 40vh;
}

.main-section-4 h4 {
  color: var(--primary-color);
  text-align: center;
}

.main-section-4 form {
  background-color: #31859b;
  height: 100%;
  display: var(--d-flex);
  flex-direction: var(--flex-direction-column);
  justify-content: var(--j-content-center);
  align-items: var(--align-items-center);
  color: var(--white-color);
}

.main-section-4 form label {
  width: 180px;
}

.main-section-4 form input:focus {
  outline: var(--outline-focus);
}

.main-section-4 form textarea:focus {
  outline: var(--outline-focus);
}

.submit-button {
  background-color: var(--primary-color);
  padding: 0.2rem 1rem;
  margin-top: 0.5rem;
  border: none;
  cursor: pointer;
  color: var(--white-color);
}

/** Footer **/

footer {
  display: var(--d-flex);
  justify-content: var(--j-content-space-between);
  align-items: var(--align-items-center);
  padding: 2rem;
  background-color: var(--white-color);
  border: 2px solid #fefefe;
}

.footer-icons a {
  color: var(--dark-color);
}

.footer-icons span {
  display: inline-block;
  padding: 0 1rem;
}

/* Media Queries */

@media screen and (width <= 925px) {
  /* Adjustments for screens 925 pixels and smaller */

  .search-bar .position {
    left: 10rem;
  }
}

@media screen and (width <= 768px) {
  /* Adjustments for screens 768 pixels and smaller */

  /* --header section-- */

  .header-container {
    padding: 0 10px;
  }

  .nav-top {
    max-width: auto;
    display: var(--d-flex);
    justify-content: var(--j-content-space-between);
    align-items: var(--align-items-center);
  }

  .nav-top-left {
    width: auto;
    align-items: flex-end;
  }

  .nav-top-left span {
    font-size: 1.5rem;
  }

  .search-bar {
    display: var(--d-none);
  }

  .dropbtn {
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    border: 1px solid;
    display: none;
    position: var(--position-absolute);
    background-color: var(--white-color);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    z-index: 1;
    opacity: 0.5;
  }

  .dropdown-content a {
    color: var(--dark-color);
    font-weight: 700;
    padding: 12px 16px;
    text-decoration: none;
    display: var(--d-block);
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: var(--d-block);
  }

  .dropdown:hover .dropbtn {
    background-color: var(--dark-color);
  }

  .nav-top-right {
    width: 100%;
    align-items: var(--align-items-center);
    justify-content: flex-end;
    margin: 0;
  }

  .nav-top-right select option {
    background-color: transparent;
    opacity: 0.5;
  }

  .nav-bottom {
    display: var(--d-none);
  }

  .map-size iframe {
    width: 80vw;
  }

  .footer-icons {
    margin-top: 1rem;
  }
}

@media screen and (width <= 590px) {
  .main-section-2 {
    display: var(--d-block);
  }
}

@media screen and (width <= 480px) {
  /* Adjustments for screens 480 pixels and smaller */

  .main-section-4 form label {
    width: 80px;
  }

  footer {
    flex-direction: var(--flex-direction-column);
  }
}
